# Requirements for EnSysMod

fastapi==0.100.0
sqlalchemy==2.0.19
uvicorn==0.23.0
pydantic[dotenv]==1.10.11

python-multipart==0.0.6
python-jose==3.3.0
passlib==1.7.4
bcrypt==3.2.0

numpy==1.24.4
pandas==1.5.3
openpyxl==3.1.2

FINE==2.2.2
