# Requirements for EnSysMod
-r requirements.txt

# Dev dependencies for EnSysMod
pytest~=6.2.5
pytest-cov
codecov
sphinx
sphinx-rtd-theme
sphinxcontrib-openapi
flake8

MarkupSafe~=2.0.1
setuptools~=60.5.0
mistune==0.8.4