# Requirements for EnSysMod
-r requirements.txt

# Dev dependencies for EnSysMod
pytest==7.4.0
pytest-cov==3.0.0
codecov==2.1.13
sphinx==4.4.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-openapi==0.7.0
autodoc_pydantic==1.6.1
ruff==0.1.13
httpx==0.24.1
setuptools>=61.0.0
