# Requirements for EnSysMod
-r requirements.txt

# Dev dependencies for EnSysMod
pytest==7.0.1
pytest-cov==3.0.0
codecov==2.1.12
sphinx==4.4.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-openapi==0.7.0
flake8==4.0.1

MarkupSafe==2.1.0
setuptools==60.9.3
mistune==0.8.4