# Requirements for Counter

fastapi~=0.70.0
sqlalchemy~=1.4.26
uvicorn~=0.15.0
pydantic~=1.8.2
pydantic[dotenv]

python-jose
passlib~=1.7.4
python-multipart
bcrypt

numpy

pytest~=6.2.5
MarkupSafe~=2.0.1
setuptools~=58.2.0